<div class="overlay"></div>
<form class="container" [formGroup]="userForm" (ngSubmit)="submit()">
  <label for="name">Nome:</label>
  <app-input
    placeholder="Digite seu nome"
    id="name"
    name="name"
    (valueChange)="handleNameChange($event)"
    [control]="userForm.controls['name']"
  />
  <label for="email">Email:</label>
  <app-input
    placeholder="Digite seu MELHOR email"
    id="email"
    name="email"
    type="email"
    (valueChange)="handleEmailChange($event)"
    [control]="userForm.controls['email']"
  />
  <div>
    <app-button text="Enviar" (click)="submit()" type="submit" />
    <app-button
      text="Cancelar"
      (click)="handleCancelSubscribe()"
      variant="secondary"
    />
  </div>
</form>
