@use '../../../../styles.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: styles.$obsidian, $alpha: 0.3);
  backdrop-filter: blur(25px);
  animation-name: openingAnima;
  animation-duration: 1s;
  @keyframes openingAnima {
    0% {
      backdrop-filter: blur(0px);
    }
    100% {
      backdrop-filter: blur(25px);
    }
  }
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  background-color: styles.$obsidian;
  border-radius: 15px;
  width: 60%;
  animation-name: openingAnima;
  animation-duration: 1s;
  z-index: 3;
  app-input {
    margin-bottom: 20px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: 900px) {
      flex-direction: row;
    }
  }
  @keyframes openingAnima {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
