<div class="overlay"></div>
<div class="container">
  <label for="name">Nome:</label>
  <app-input
    placeholder="Digite seu nome"
    id="name"
    name="name"
    (valueChange)="handleNameChange($event)"
  />
  <label for="email">Email:</label>
  <app-input
    placeholder="Digite seu MELHOR email"
    id="email"
    name="email"
    type="email"
    (valueChange)="handleEmailChange($event)"
  />
  <div>
    <app-button text="Enviar" (click)="submit()" />
    <app-button
      text="Cancelar"
      (click)="handleCancelSubscribe()"
      variant="secondary"
    />
  </div>
</div>
