<header class="app-header">
  <div id="logo" (click)="toHome()"></div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="44"
    height="44"
    fill="white"
    class="icon list-icon"
    viewBox="0 0 16 16"
    (click)="toggleMenu()"
    id="menu-icon"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
    />
  </svg>
  @if (this.showMenu()) {
    <div class="menu">
      <a href="/" (click)="disableMenu()">Inicio</a>
      <!-- <a href="/home#about-bullet" (click)="disableMenu()">BULLETSPEEL</a> -->
      <!-- <a href="/home#about-cordel" (click)="disableMenu()"
        >Cordel Do Mandacaru</a
      > -->
      <a href="/team" (click)="disableMenu()">Equipe</a>
    </div>
  }
</header>
<div class="block"></div>
