$obsidian: #110f0f;
$headerSize: 180px;

.app-header {
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: $obsidian, $alpha: 0.3);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  #logo {
    height: 100px;
    width: 200px;
    background-image: url('/logo.webp');
    background-size: cover;
    background-position-y: -21px;
    background-position-x: -18px;
    z-index: 3;
  }
  .menu {
    padding: 10px 40px;
    display: flex;
    position: fixed;
    right: 0;
    top: 136px;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgba($color: $obsidian, $alpha: 0.3);
    backdrop-filter: blur(25px);
    z-index: 2;
    @media (max-width: 899px) {
      top: 0;
      left: 0;
      height: 100vh;
      background-color: $obsidian;
      justify-content: center;
      padding-bottom: 5cm;
      animation-name: blurAnima;
      animation-duration: 0.5s;
      @keyframes blurAnima {
        0% {
          opacity: 0;
          filter: blur(10px);
        }
        100% {
          opacity: 1;
          filter: blur(0);
        }
      }
    }
    @media (min-width: 900px) {
      right: 40px;
      border: 2px solid darkslategray;
      width: 200px;
      padding: 40px;
      border-radius: 15px;
      animation-name: openingAnima;
      animation-duration: 0.5s;
      @keyframes openingAnima {
        0% {
          transform: translateY(-10%);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 10px 0;
      letter-spacing: 3px;
      width: 100%;
      text-align: right;
      transition: 0.3s;
      &:last-child {
        padding-bottom: 0;
      }
      &:hover {
        color: yellow;
      }
      border-bottom: 2px solid darkslategrey;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
.block {
  margin-top: $headerSize;
}

#menu-icon {
  z-index: 3;
}
