@use '../../../../styles.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: styles.$obsidian, $alpha: 0.3);
  backdrop-filter: blur(25px);
}

.links {
  padding: 40px;
  background-color: styles.$obsidian;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  width: 60%;
  gap: 20px;
  a,
  p {
    color: white;
    text-decoration: underline;
    transition: 0.3s;
    &:hover {
      color: yellow;
    }
  }
}
