<footer class="app-footer">
  <img src="/logo.webp" width="160px" />
  <div class="grid-content">
    <table>
      <tr>
        <td class="grid-item">
          <h3>Social</h3>
        </td>
        <td class="grid-item">
          <h3>Team</h3>
        </td>
      </tr>
      <tr>
        <td class="grid-item">
          <a href="https://www.instagram.com/fromhelstudio/">Instagram</a>
        </td>
        <td class="grid-item">
          <a href="">Click here</a>
        </td>
      </tr>
      <tr>
        <td class="grid-item">
          <a href="mailto:contato@fromhelstudio.com">E-Mail</a>
        </td>
        <td class="grid-item"></td>
      </tr>
    </table>
  </div>
</footer>