<footer class="app-footer">
  <img src="/logo.webp" width="160px" />
  <div class="grid-content">
    <table>
      <tr>
        <td class="grid-item">
          <h3>Social</h3>
        </td>
        <td class="grid-item">
          <h3>Equipe</h3>
        </td>
      </tr>
      <tr>
        <td class="grid-item">
          <a href="https://www.instagram.com/fromhelstudio/">Instagram</a>
        </td>
        <td class="grid-item">
          <a href="team">Integrantes</a>
        </td>
      </tr>
      <tr>
        <td class="grid-item">
          <a href="mailto:contato@fromhelstudio.com">E-Mail</a>
        </td>
        <td class="grid-item"></td>
      </tr>
    </table>
  </div>
  <div>
    <p id="copy">&copy; 2024 FromHel Studio. Todos os direitos reservados.</p>
  </div>
</footer>
