.app-footer {
  background-color: rgb(48, 48, 48);
  padding: 20px;

  .grid-content {
    table {
      width: 30%;
      border-collapse: collapse;

      tr {
        td {
          padding: 10px;
          text-align: left;

          .grid-item {
            display: flex;
            justify-content: flex-start;
          }
          a {
            text-decoration: none;
            color: gray;
            transition: 0.3s;

            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
  }
}

#copy {
  color: gray;
  margin: 40px 0 20px 10px;
}
