<div class="app-news">
  <div class="grid-container">
    <div class="grid-item item-a">
      <h2>BULLET SPEEL Entra na Fase Final Antes do Beta</h2>
      <p>
        A aventura "BULLET SPEEL: A Odisseia de João e Maria" está prestes a
        alcançar um marco importante. Estamos nos preparativos finais para
        lançar a versão beta, e em breve, os jogadores inscritos poderão
        experimentar esta emocionante jornada!
      </p>
    </div>
    <div class="grid-item item-b">
      <h2>Jânio retornará muito embreve...</h2>
    </div>
    <div class="grid-item item-c">
      <h2>FromHel na Gamescom latam</h2>
      <p>
        Neste ano, a Gamescom teve um repertório muito grande de publishers e
        uma delas era a FromHel. Assista os clipes no nosso canal do YouTube!
      </p>
      <app-button
        text="YOUTUBE"
        (click)="redirect('https://www.youtube.com/@fromhelstudio')"
      />
    </div>
  </div>
</div>
