.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  @media (max-width: 900px) {
    gap: 30px;
  }
  @media (min-width: 901px) {
    height: 100vh;
  }
}

.grid-item {
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  justify-content: end;
  text-align: left;
  flex-direction: column;
  @media (max-width: 900px) {
    height: 100vh !important;
    background-size: cover !important;
  }
}

.item-a {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url('/bulletGameplay.jpg');
  background-position: center;
}

.item-b {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url('/tremzinho.png');
  background-position: center;
}

.item-c {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url('/equipe.png');
  background-position: center;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .item-a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .item-b {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .item-c {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
