.container > article {
  #team-members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    justify-content: flex-end;
    gap: 20px;
    section {
      display: flex;
      flex-direction: column;
      img {
        width: 200px;
      }
      .social {
        padding-top: 20px;
        text-decoration: underline;
      }
    }
    @media (max-width: 900px) {
      section > img {
        width: 100%;
      }
    }
  }
}
