<div class="container">
  <div class="brand-container">
    <img src="/cordel.png" />
    <app-button text="saiba mais" type="button" />
  </div>
  <article>
    <section class="section">
      <img src="/cruz.webp" id="cruz" />
      <p>
        Cordel Do Mandacaru é o mais novo jogo da recém formada produtora de
        jogos FromHel Studio. O jogo está em processo de desenvolvimento e em
        breve será lançado nas plataformas para computadores. Seu
        desenvolvimento está atrelado ao trabalho de conclusão de curso do curso
        Programação de Jogos Digitais da ETEC Heliópolis. Role um pouco a tela e
        descubra mais sobre a narrativa e clique no botão a baixo para se
        inscrever nos testes da demo.
      </p>
    </section>
    <section class="section">
      <img src="/janio.webp" id="janio" />
      <p>
        Jânio e sua Família moram em uma vila no sertão pacato, em um dia comum
        praticavam suas atividades diárias como geralmente faziam. Ao acabar os
        afazeres, todos decidem descansar ao fim de um dia cansativo, porém eles
        não contavam com a visita do grupo de cangaceiros de Lampião, que invade
        sua vila, atacando os moradores, casas, saqueando todos e ateando fogo
        em tudo. Em meio a toda essa confusão, na tentativa de ajudar, Jânio vê
        sua família sendo morta em chamas. Carregando esse ódio Jânio parte em
        busca de vingança.
      </p>
    </section>
  </article>
</div>
