/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500&family=Audiowide&family=Oswald:wght@200;300;400;500;600&display=swap');

$obsidian: #110f0f;

* {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

html {
  background-color: $obsidian;
}

.container {
  padding: 40px;
}

p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
}

img {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.2);
}

.no-shadow {
  box-shadow: none !important;
}
